<!doctype html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<title>Panier</title>
		<link href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' rel='stylesheet'>
		<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
		<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
		<style>
		::-webkit-scrollbar {
			width: 8px;
		}
		/* Track */
		::-webkit-scrollbar-track {
			background: #f1f1f1;
		}

		/* Handle */
		::-webkit-scrollbar-thumb {
			background: #888;
		}

		/* Handle on hover */
		::-webkit-scrollbar-thumb:hover {
			background: #555;
		}
		.payment-info {
			background: blue;
			padding: 10px;
			border-radius: 6px;
			color: #fff;
			font-weight: bold;
		}

		.product-details {
			padding: 10px;
		}

		body {
			background: #eee;
		}

		.cart {
			background: #fff;
		}

		.p-about {
			font-size: 12px;
		}

		.table-shadow {
			-webkit-box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.42);
			box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.42);
		}

		.type {
			font-weight: 400;
			font-size: 10px;
		}

		label.radio {
			cursor: pointer;
		}

		label.radio input {
			position: absolute;
			top: 0;
			left: 0;
			visibility: hidden;
			pointer-events: none;
		}

		label.radio span {
			padding: 1px 12px;
			border: 2px solid #ada9a9;
			display: inline-block;
			color: #8f37aa;
			border-radius: 3px;
			text-transform: uppercase;
			font-size: 11px;
			font-weight: 300;
		}

		label.radio input:checked + span {
			border-color: #fff;
			background-color: blue;
			color: #fff;
		}

		.credit-inputs {
			background: rgb(102, 102, 221);
			color: #fff !important;
			border-color: rgb(102, 102, 221);
		}

		.credit-inputs::placeholder {
			color: #fff;
			font-size: 13px;
		}

		.credit-card-label {
			font-size: 9px;
			font-weight: 300;
		}

		.form-control.credit-inputs:focus {
			background: rgb(102, 102, 221);
			border: rgb(102, 102, 221);
		}

		.line {
			border-bottom: 1px solid rgb(102, 102, 221);
		}

		.information span {
			font-size: 12px;
			font-weight: 500;
		}

		.information {
			margin-bottom: 5px;
		}

		.items {
			-webkit-box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.25);
			box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.08);
		}

		.spec {
			font-size: 11px;
		}
	</style>
</head>
<body classname='snippet-body'>
	<div class="container mt-5 p-3 rounded cart">
		<div class="row no-gutters">
			<div class="col-md-8">
				<div class="product-details mr-2">
					<a href="{{path('app_produit_front')}}">
						<div class="d-flex flex-row align-items-center">
							<i class="fa fa-long-arrow-left"></i>
							<span class="ml-2">Continuer vos achats</span>
						</a>
					</div>
					<hr>
					<h6 class="mb-0">Panier</h6>
					<div class="d-flex justify-content-between">
						<span>vous avez  
							{{ numberOfItems }}
							articles dans votre panier</span>

					</div>
					{% set somme=0 %}
					{% for panier in paniers %}
						{% set somme=somme+panier.total %}
						<div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded">
							<div class="d-flex flex-row"><img class="rounded" src="{{ asset('produitimages/' ~ panier.image)}}" width="40">
								<div class="ml-2">
									<span class="font-weight-bold d-block">{{panier.name}}</span>
									<span class="spec">{{panier.description}}</span>
								</div>
							</div>
							<div class="d-flex flex-row align-items-center">
								<span class="d-block">{{panier.quantity}}</span>
								<span class="d-block ml-5 font-weight-bold">DT
									{{ panier.total * panier.quantity }}</span>
								<a href="{{path('app_panier_delete',{'id':panier.id})}}">
									<i class="fa fa-trash-o ml-3 text-black-50"></i>
								</a>
							</div>
						</div>
					{% endfor %}

				</div>
			</div>

			<div class="col-md-4">

				<div class="payment-info">
					<br><br><br><br>
					<form method="post" action="{{ path('clear_cart') }}">
						<button class="btn btn-primary btn-block d-flex justify-content-between mt-3" type="submit">
							<span>{{somme}}dt</span>
							<span>Checkout<i class="fa fa-long-arrow-right ml-1"></i>
							</span>
						</button>
						<br>


					</form>
				</div>

			</div>
			<div class="row">
    <div class="col-md-6">
        <form method="post" action="{{ path('app_pdf_generator') }}">
            <button class="btn btn-primary btn-block d-flex justify-content-between mt-3" type="submit">
                <span>Imprimer <i class="fa fa-long-arrow-right ml-1"></i></span>
            </button>
        </form>
    </div>
    <div class="col-md-6">
        <form method="post" action="{{ path('app_stripe') }}">
			<input type="hidden" name="total_amount" value="{{ totalAmount  }}">
            	<button class="btn btn-primary btn-block d-flex justify-content-between mt-3 ml-md-2" type="submit">
              	  <span>payment  <i class="fa fa-long-arrow-right ml-1"></i></span>
				</button>
			</form>
    </div>
</div>
			
		</div>
	</div>
	<script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'></script>
	<script type='text/javascript' src='#'></script>
	<script type='text/javascript' src='#'></script>
	<script type='text/javascript' src='#'></script>
	<script type='text/javascript'>
		#</script>
	<script type='text/javascript'>
		var myLink = document.querySelector('a[href="#"]');
myLink.addEventListener('click', function (e) {
e.preventDefault();
});
	</script>
</body></html></body></html>
