
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}Connexion{% endblock %}</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  {% block css %}
    <!-- Fichiers CSS des bibliothèques -->
    <link rel="stylesheet" href="{{asset('libraries/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('libraries/icofont/icofont.min.css')}}">
    <link rel="stylesheet" href="{{asset('libraries/owl.carousel/assets/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{asset('libraries/boxicons/css/boxicons.min.css')}}">
    <link rel="stylesheet" href="{{asset('libraries/venobox/venobox.css')}}">
    <link rel="stylesheet" href="{{asset('libraries/aos/aos.css')}}">
    <!-- Fichier CSS principal du modèle -->
    <link rel="stylesheet" href="{{asset('css/style.css')}}">
  {% endblock %}
</head>

<body>

<div class="form-container sign-up-container">
		<form action="{{ path('app_register') }}" method="post">
			<h1>Create Account</h1>
				<button  type="submit">
        Sign up
    </button>
		</form>
	</div>

  <!-- ======= Section Héro ======= -->
  <section id="hero" class="d-flex align-items-center">
    {% block body %}
<div class="container" id="container">
	
	<div class="form-container sign-in-container">
		<form method="post">
         <h1>Sign up</h1>
          {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
          
        </form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us, please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Bikee</h1>
				<p>Enter your personal details and start the journey with us</p>
				<a href="{{ path('app_login') }}" class="ghost">Sign in</a>
			</div>
		</div>
	</div>
</div>

<footer>
	<p>
		Created with <i class="fa fa-heart"></i> by
		<a target="_blank" href="https://florin-pop.com">Florin Pop</a>
		- Read how I created this and how you can join the challenge
		<a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>.
	</p>
</footer>
    {% endblock %}

    <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
    {% block js %}
      <!-- Fichiers JS des bibliothèques -->
      <script src="{{asset('libraries/jquery/jquery.min.js')}}"></script>
      <script src="{{asset('libraries/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
      <script src="{{asset('libraries/jquery.easing/jquery.easing.min.js')}}"></script>
      <script src="{{asset('libraries/php-email-form/validate.js')}}"></script>
      <script src="{{asset('libraries/waypoints/jquery.waypoints.min.js')}}"></script>
      <script src="{{asset('libraries/counterup/counterup.min.js')}}"></script>
      <script src="{{asset('libraries/owl.carousel/owl.carousel.min.js')}}"></script>
      <script src="{{asset('libraries/isotope-layout/isotope.pkgd.min.js')}}"></script>
      <script src="{{asset('libraries/venobox/venobox.min.js')}}"></script>
      <script src="{{asset('libraries/aos/aos.js')}}"></script>
      <!-- Script ajouté pour basculer entre les panneaux -->
      <script>
        document.getElementById('signUp').addEventListener('click', function() {
          document.getElementById('container').classList.add('right-panel-active');
        });

        document.getElementById('signIn').addEventListener('click', function() {
          document.getElementById('container').classList.remove('right-panel-active');
        });
      </script>
      <!-- Fichier JS principal du modèle -->
      <script src="{{asset('js/login.js')}}"></script>
    {% endblock %}

  </body>

  </html>
